<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zack's Skills</title>
</head>
<body>
  <body>
    <h1>Skills as of <%= time %>! 🐡</h1>
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <form 
            action="/skills/<%= skill._id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
    </ul>
    <a href="/">Back</a>
    <a href="/skills/new">Add To-Do</a>
  </body>
</body>
</html>